body {
    background-color: rgb(213,225,239);
    text-align: center;
    font-family: cursive;
}

.card {
    width: 100%;
    max-width: 300px;
    height: 470px;
    padding: 1rem;
    padding-bottom: 2rem;
    border-radius: 16px;
    position: absolute;
    margin: auto;
    inset: 0;
    box-shadow: 1px 13px 20px 3px #fafcfc40;

    background-color: white;
}
img {
    width: 100%;
    border-radius: 8px;
}
p {
    font-size: 20px;
    color: Grayish blue: hsl(220, 15%, 55%);
}
h2 {
    font-size: 1.5em;
    color: Dark blue: hsl(218, 44%, 22%);
    
}